@charset "UTF-8";

:root {
	--scroll-bg: transparent;
	--color-DisableText: #999;
	--scroll-color: var(--color-DisableText);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scrollbar-color: var(--scroll-color) var(--scroll-bg);
}

*::-webkit-scrollbar {
	width: 8px;
	background: var(--scroll-bg);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--scroll-color);
	border-radius: 4px;
}

body {
	font-family: sans-serif;
	padding-top: 80px;
	box-sizing: border-box;
	background-color: #1E2026; /* 어두운 배경 */
	color: #EAECEF; /* 기본 글자색 */
}

.main-container {
	display: flex;
	height: 100%;
	background-color: #1E2026;
}

.chart-section {
	border: 1px solid #333;
	border-radius: 12px;
	padding: 10px;
}

.left-container {
	display: flex;
	flex-direction: column;
	width: 20%;
	height: calc(100vh - 80px); /* 헤더 고려 */
	gap: 10px;
}

.right-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 25%;
	background-color: #1E2026;
	color: #EAECEF;
	padding: 10px;
	height: auto;
}

.orderbook-area {
	padding: 10px;
	margin: 1px;
	width: 100%;
	border: 1px solid #333;
	border-radius: 10px;
}

.history-section {
	padding: 10px;
	margin: 1px;
	width: 100%;
	border: 1px solid #333;
	border-radius: 10px;
}

.chat-area {
	width: 100%;
	background-color: #1E2026;
	color: #EAECEF;
	padding: 10px;
	display: flex;
	flex-direction: column;
	border: 1px solid #333;
	border-radius: 10px;
}

.chart-area {
	width: 55%;
	padding: 10px;
}

.btn {
	padding: 6px 12px;
	border: 1px solid #444;
	background-color: #333;
	color: #EAECEF;
	cursor: pointer;
}

/* ========================= Responsive Layout ========================= */
@media ( max-width : 767px) {
	.main-container {
		flex-direction: column;
		height: auto;
	}
	.chat-area, .chart-area, .orderbook-area {
		width: 100%;
		height: auto;
	}
}

@media ( min-width : 768px) and (max-width: 1279px) {
	.chat-area {
		width: 25%;
	}
	.chart-area {
		width: 50%;
	}
	.orderbook-area {
		width: 25%;
	}
}

@media ( min-width : 1280px) and (max-width: 1919px) {
	.chat-area {
		width: 20%;
	}
	.chart-area {
		width: 55%;
	}
	.orderbook-area {
		width: 25%;
	}
}

@media ( min-width : 1920px) and (max-width: 2559px) {
	body {
		font-size: 1.1rem;
	}
}

@media ( min-width : 2560px) and (max-width: 3839px) {
	body {
		font-size: 1.25rem;
	}
}

@media ( min-width : 3840px) {
	body {
		font-size: 1.5rem;
	}
}