:root {
	--color-primary: #B6B09F;
	--color-on-primary: #000000;
	--color-secondary: #EAE4D5;
	--color-background: #F2F2F2;
	--color-on-background: #000000;
	--color-border: #bbb;
	--color-surface: #FFFFFF;
	--color-error: #CC3333;
}

/* 🌚 다크모드 설정 */
@media ( prefers-color-scheme : dark) {
	:root {
		--color-primary: #8c8575;
		--color-on-primary: #ffffff;
		--color-secondary: #3c3c3c;
		--color-background: #121212;
		--color-on-background: #ffffff;
		--color-border: #2b2b2b;
		--color-surface: #1e1e1e;
		--color-error: #FF6F6F;
	}
}