.toast {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  background: #444;
  opacity:0.5;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 9999;
}
.toast.show {
  transform: translate(-50%, 20px);
  opacity: 1;
}